/* The game boards properties */


body {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url('images/oxalis.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;

}

/* board size */
.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 600px;
    max-width: 800px;
    perspective: 1000px;
}

/* img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5em;
    border: rgb(91, 215, 14);
    border-width: 4px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: all 2c cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0.2s;
} */
img {
    background-color: pink;
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  /* .img:active ,
.img:focus {
  transform: rotateY(180deg);
} */
.card {
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    background-color: transparent;
    width: 200px;
    height: 200px;
    border-radius: 5em;
    
  }
  
  .card:active {
    animation-play-state:running;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotateY(180deg);
    }
  }  
/* Score */
h3 {
    font-family: fantasy;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color: rgb(168, 238, 26);
}

.result {
    font-family: fantasy;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color:rgb(91, 215, 14);
}



/* }

.userChoice {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color:rgb(91, 215, 14);
}
.computerChoice {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color:rgb(91, 215, 14);
} */