/* The game boards properties */


body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image:url('images/MemoryBackground-9.jpg');
    background-size: cover;
}

/* board size */
.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 800px;
}
img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5em;
  border: green ;
  border-width:  4px;
    
}
/* Score */
h3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align:center;
    color: rgb(14, 226, 180)
}
.result{display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color: rgb(14, 226, 180)}